@model Profile

@{
    ViewBag.Title = "Registration";
}

<div class="login-form-container">
    @using (Html.BeginForm("Registration", "Auth", FormMethod.Post, new { @class="registration-form" }))
    {
        <h2 class="login-form__title">Создать учетную запись</h2>
        @Html.EditorFor(
            x => x.UserProfile.User.Login, 
            new { htmlAttributes = new { placeholder="Логин", @class="login-form__input" } }
            )
        @Html.ValidationMessageFor(x => x.UserProfile.User.Login)

        @Html.EditorFor(
            x => x.UserProfile.Name,
            new { htmlAttributes = new { placeholder = "Имя", @class = "login-form__input" } }
            )
        @Html.ValidationMessageFor(x => x.UserProfile.Name)

        @Html.EditorFor(
            x => x.UserProfile.Surname,
            new { htmlAttributes = new { placeholder = "Фамилия", @class = "login-form__input" } }
            )
        @Html.ValidationMessageFor(x => x.UserProfile.Surname)

        @Html.EditorFor(
            x => x.UserProfile.Email,
            new { htmlAttributes = new { placeholder = "email", @class = "login-form__input" } }
            )
        @Html.ValidationMessageFor(x => x.UserProfile.Email)

        @Html.EditorFor(
            x => x.UserProfile.User.HashedPassword,
            new { htmlAttributes = new { type="password", placeholder="Пароль", @class = "login-form__input" } }
            )
        @Html.ValidationMessageFor(x => x.UserProfile.User.HashedPassword);

        <input class="login-form__button" type="submit" value="Зарегестрироваться"/>
    }
</div>


@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}